.editor {
    padding: 20px;
    input {
        width: 98%;
        border: 1px solid lightgray;
        padding: 5.5px;
        font-size: 20px;
        margin-bottom: 10px;
        &:focus {
            outline: none;
        }
    }
    button {
        margin-top: 10px;
        border-radius: 5px;
        background-color: azure;
        padding: 10px;
        font-size: 1.3rem;
    }
}
