.blog_content {
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: aliceblue; */
}

h1 {
    text-align: center;
}

.comments {
    margin-top: 100px;
    padding: 10px;
    /* border-top: 1px solid gray; */
}

#comment_ipt {
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 20px;
}

#comment_ipt:focus {
    outline: none;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.rep img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
#btn_comment {
    border: none;
    background-color: #0a7eeb;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

#btn_comment:hover {
    cursor: pointer;
}

.comment {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.comment_date {
    display: flex;
    align-items: center;
}
.comment_info {
    display: flex;
    flex-direction: column;
}

.rep {
    display: flex;
    margin-left: 50px;
    padding: 10px;
}

.rep_info {
    display: flex;
    flex-direction: column;
}
.rep_date {
    display: flex;
    align-items: center;
}

.rep_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0a7eeb;
}

.rep_container {
    display: none;
}

.rep_container textarea {
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.rep_container textarea:focus {
    outline: none;
}
.rep_container button {
    border: none;
    background-color: #0a7eeb;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}
.rep_container button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 784px) {
    .blog_content {
        width: 90%;
    }
    h1 {
        font-size: 1.5rem;
    }
}
