.doc_list {
    width: 50%;
    margin: 0 auto;
}
.doc {
    border-bottom: 1px solid black;
    padding: 10px;
}
.tag {
    display: flex;
}
.tag div {
    background-color: lightgray;
    padding: 0 5px 0 5px;
    margin-right: 2px;
    border-radius: 3px;
}
