.content {
    margin: 0 auto;
    width: 90%;
}
.title {
    margin: 0 auto;
    width: 90%;
    padding: 10px 0 10px 0;
}
.title input {
    width: 100%;
}
#upload {
    border: none;
    background-color: #208f8f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#upload:hover {
    cursor: pointer;
}
