{% extends '../index.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
<div class="content">
    <div class="blogs">
        {% if user.is_authenticated %}
        <a href="{% url 'write' %}" style="margin: 0 0 20px 0; width: 30%"
            >Viết bài</a
        >
        {% endif %} {% for blog in blogs %}
        <div class="blog">
            <img src="{{blog.user.avatar.url}}" alt="" class="blog_avatar" />
            <div>
                <a href="/detail/{{ blog.slug }}" class="blog_title"
                    >{{ blog.title }}</a
                >
                <div class="blog_info">
                    <div class="blog_date">
                        <i class="far fa-clock"></i>
                        <div>{{ blog.date_create }}</div>
                    </div>
                    <div class="blog_view">
                        <i class="far fa-eye"></i>
                        <div>{{ blog.view }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
       
        <nav aria-label="Page navigation example">
            <ul class="pagination pull-right">
                
                {% if blogs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ blogs.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                {% endif %}
        
                {% if blogs.number > 5 %}
                <li class="page-item"><a class="page-link" href="?page=1"><i>1</i></a></li>
                {% endif %}
        
                {% for i in blogs.paginator.page_range %}
                {% if i > blogs.number|add:"-5" %}
                    {% if i < blogs.number|add:"5" %}
                        {% if blogs.number == i %}
                <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% endfor %}
        
                {% if blogs.number < blogs.paginator.num_pages|add:"-5" %}
                <li><a href="?page={{ blogs.paginator.num_pages }}"><i>{{ blogs.paginator.num_pages }}</i></a></li>
                {% endif %}
        
                {% if blogs.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="top_blog">
        <h4>Top bài viết</h4>
        {% for i in top_blog %}
        <div>
            <a href="/detail/{{ i.slug }}"
                >{{ i.title }}</a
            >
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
