{% extends '../index.html' %} {% load static %} {% block content %}

<link
    rel="stylesheet"
    href="{% static 'richtexteditor/rte_theme_default.css' %}"
/>
<script
    type="text/javascript"
    src="{% static 'richtexteditor/rte.js' %}"
></script>
<script>
    RTE_DefaultConfig.url_base = "richtexteditor";
</script>
<script
    type="text/javascript"
    src="{% static 'richtexteditor/plugins/all_plugins.js' %}"
></script>
<link rel="stylesheet" href="{% static 'css/editPost.css' %}" />
<div class="title">
    <input
        type="text"
        placeholder="Tiêu đề"
        id="title"
        value="{{ blog.title }}"
    />
</div>
<div id="div_editor1" class="content"></div>
<div style="margin: 0 auto; width: 90%">
    <button type="button" id="upload" slug="{{ blog.slug }}">Cập nhật</button>
</div>
<script src="{% static 'res/patch.js' %}"></script>
<script>
    const htmlCode = `{{ blog.content|safe }}`;
</script>
<script src="{% static 'js/editPost.js' %}"></script>
{% endblock %}
